# endereço do banco de dados
DB_HOST = 

# usuário do banco de dados
DB_USER = 

# senha do banco de dados
DB_PASSWORD = 

# nome do banco de dados
DB_DATABASE = 

# porta do banco de dados
DB_PORT = 

# porta do servidor (default: 3000)
PORT = 